<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--菜单配置文件位置-->
    <add key="MenuConfigPath" value="/_layouts/config/menu.config"/>
    <!--资源配置文件位置-->
    <add key="ResConfigPath" value="~/_layouts/config/res.config" />
    <!--数据库文件路径-->
    <add key="DataBasePath" value="E:\图书馆项目\code\数据库\LibrarySystem.db"/>
    <!--默认密码-->
    <add key="defaultPwd" value="123456"/>
    <!--单点登录-->
    <add key="SSO" value="1"/>
    <!--单位:天-->
    <add key="login_cookie_vaild_time" value="30" />
    <!--单位:分-->
    <add key="remeber_me_cookie_vaild_time" value="30" />
    <add key="login_cookie_name" value="LibraryLogin" />
    <add key="remeber_me_cookie_name" value="LibraryRemeberMe" />

  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="testservice" name="LibrarySystem.Service.LibraryService">
        <endpoint address="" binding="basicHttpBinding" contract="LibrarySystem.Service.ILibrary">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/test/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="testservice">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
