@using LibrarySystem.Entities
@{
    Layout = "~/_LAYOUTS/Master/Whole.cshtml";
    ViewData["MainMenu"] = "Res";
}

<link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/_LAYOUTS/JS/Res/List.js"></script>


<style type="text/css">
    .help-block {
        display: none;
    }

    .tables.actions .btn {
        width: 90px;
        margin: 0 5px;
    }
</style>


<h3 class="page-title">
    资源管理
    <small></small>
</h3>


<div class="row">
    @*<div class="col-md-3">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">组织架构</span>
                    </div>
                    <div class="actions">

                        <a id="refresh-tree" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-refresh"></i>
                        </a>

                        <a href="javascript:;" class="btn btn-circle btn-default tooltips" id="btn_departname" data-toggle="modal" data-target="#name_div" style="display:none">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="tree" class="tree-demo"> </div>
                </div>
            </div>
        </div>*@
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"><span id="res-list-pre" class="caption-subject bold uppercase"></span>资源列表</span>
                </div>
                <div class="tables actions">
                    <a class="btn btn-circle btn-default tooltips" onclick="res.detail(this,0)" >
                        <i class="fa fa-plus"></i> 新增
                    </a>
                    <a class="btn btn-circle btn-default tooltips" data-toggle="modal" data-target="#res-detail-div" style="display:none"></a>
                    <a class="btn btn-circle btn-default" id="delRes" data-toggle="modal" data-target="#confirm-delete" onclick="res.deleteRes(0)">
                        <span class="md-click-circle md-click-animate" style="height: 69px; width: 69px; top: -18.5px; left: -2.765625px;"></span>
                        <i class="fa fa-trash-o"></i> 删除
                    </a>

                    
                    <a id="refresh-table" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-refresh"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body" id="table_div">

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


@*资源详情区域*@
<div class="modal fade" id="res-detail-div">
    <div class="modal-dialog modal-lg">
        <div class="modal-content c-square">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title bold uppercase font-white">white</h4>
            </div>
            <div class="modal-body form-horizontal">
                <form role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="inputWarning">名称</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="请输入资源名称。" id="name">
                                <span class="help-block"> Something may have gone wrong </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="inputWarning">说明</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="" id="note">
                                <span class="help-block"> Something may have gone wrong </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="inputWarning">类型</label>
                            <div class="col-md-6">
                                <select class="form-control" id="res_type">
                                    @foreach (EnumMappingAttribute ema in EnumHelper.GetMappingList<ResType>())
                                    {
                                        <option value="@ema.DBCode">@ema.DisplayName</option>

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green btn-outline" id="saveAddRes">保存</button>
                <button type="button" class="btn btn-outline dark sbold uppercase" data-dismiss="modal" id="cancelSaveAddRes">取消</button>
            </div>
        </div>
    </div>
</div>