<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <UploadDir>E:\图书馆项目\code\LibrarySystem\LibrarySystem.Portal\ResFiles\</UploadDir>
  <DefaultDir>E:\图书馆项目\code\LibrarySystem\LibrarySystem.Portal\ResFiles\images\</DefaultDir>
  <ResUrl>
    <Url type="prefix" host="">/ResFiles/</Url>
    <Url type="default" host="">/ResFiles/images/</Url>
    <Url type="prefix" host="192.168.1.201">http://192.168.1.201:55440/</Url>
    <Url type="default" host="192.168.1.201">http://192.168.1.201:55440/images/</Url>
  </ResUrl>
  <Icon name="UserIcon120x120" width="120" height="120" default="user-icon120.png"/>
  <Icon name="UserIcon94x94" width="94" height="94" default="user-icon94.png"/>
  <Icon name="UserIcon48x48" width="48" height="48" default="user-icon48.png"/>
  <Icon name="UserIcon28x28" width="28" height="28" default="user-icon28.png"/>
  <Icon name="ResFile100x130" width="100" height="130" default="res_defaut.jpg"/>
  <Icon name="DiscussLogo120x120" width="120" height="120" default="discuss_online_120x120.png"/>
  <Icon name="DiscussLogo100x100" width="100" height="100" default="discuss_online_100x100.png"/>
  <Icon name="DiscussLogo50x50" width="50" height="50" default="discuss_online_50x50.png"/>
  <Icon name="NewsImage200x154" width="200" height="154" default="news_images_200x154.png"/>
  <Icon name="Book118x118" width="118" height="118" default="book_118x118.png"/>
</configuration>
